.leo {
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
}
.leo-logo {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border: 1px solid #fb2c36;
    transition: all .2s;
    cursor: pointer;
}
.leo-logo:hover {
    transform: scale(1.1);
}
.leo-logo img {
    width: 3rem;
    height: 3rem;
}
.leo-chat {
    overflow: hidden;
    transform-origin: bottom right;
    position: absolute;
    right: 0;
    transition: all .1s;
    height: 60em;
    width: 35em;
    border: 1px solid oklch(0.922 0 0);
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    padding: 1px;
}
.leo-chat iframe {
    flex-grow: 1;
    outline: none !important;
}
.leo:not(.leo-open):not(.leo-transitioning) .leo-chat {
    display: none;
}
.leo:not(.leo-open) .leo-chat, .leo.leo-transitioning .leo-chat {
    opacity: 0;
    transform: scale(.95);
}

@keyframes leo-open {
    0% {
        opacity: 0;
        transform: scale(.9);

    }
    90% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        display: none;
    }
}

@media (max-height: 1024px) {
    .leo-chat {
        max-height: calc(100dvh - 40px);
        bottom: 0;
    }
    .leo.leo-open .leo-logo {
        opacity: 0;
    }
}
@media (min-height: 1025px) {
    .leo-chat {
        max-height: calc(100dvh - 100px);
        translate: 0 calc(-100% - 10px);
        top: 0
    }
}

@media(max-width: 700px) {
    .leo-chat {
        translate: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        max-height: 100dvh;
    }
}